@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.10) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.10) 1px, transparent 1px);
  background-size: 50px 50px;
}
